extends layout
block content
    div.am-g
      div.am-u-lg-4.am-u-sm-4.am-u-md-12
      div.am-u-lg-5.am-u-sm-5.am-u-md-12.am-u-lg-centered.am-u-sm-centered
        img(src='/images/404.jpg',alt='哎呀，你这是跑到哪里去了?快点返回首页吧!').am-radius
      div.am-u-lg-3.am-u-sm-3.am-u-md-12
