extends layout
block content
  div.amz-banner
    div(data-am-scrollspy="{animation: 'scale-up', repeat: false}").amz-container
      h1(style={color:'#fff'}) 课程体系
  br
  .am-g
    .am-u-lg-2
    .am-u-lg-8.am-u-lg-centered
      section(data-am-widget="accordion",data-am-accordion='{ "multiple": true }').am-accordion.am-accordion-basic
        dl.am-accordion-item.am-active
          dt.am-accordion-title 通用管理
          dd.am-accordion-bd.am-collapse.am-in
            .am-accordion-content.am-scrollable-horizontal
              table.am-table.am-table-bordered.am-table-striped.am-table-hover.am-table-compact.am-text-nowrap
                thead.am-text-center
                  tr.am-success.cnea-lesson
                    th 课程名称
                    th 授课对象
                    th 类别
                tbody
                  tr
                    td 《精英团队建设》
                    td 总经理 || 高层管理者
                    td 通用管理
                  tr
                    td 《领导力管理》
                    td 总经理 || 高层管理者
                    td 通用管理
                  tr
                    td 《企业流程管理》
                    td 总经理 || 高层管理者
                    td 通用管理
                  tr
                    td 《企业架构设计》
                    td 总经理 || 高层管理者
                    td 通用管理
                  tr
                    td 《店务会议》
                    td 中层管理者
                    td 通用管理
                  tr
                    td 《如何打造卓越团队》
                    td 中层管理者
                    td 通用管理
                  tr
                    td 《销售经理管理技能》
                    td 中层管理者
                    td 通用管理
                  tr
                    td 《门店管理策略》
                    td 中层管理者
                    td 通用管理
                  tr
                    td 《中层干部管理培训》
                    td 中层管理者
                    td 通用管理
                  tr
                    td 《商务礼仪》
                    td 经纪人
                    td 通用管理
                  tr
                    td 《房地产基础知识》
                    td 经纪人
                    td 通用管理
                  tr
                    td 《经纪人心理辅导》
                    td 经纪人
                    td 通用管理
                  tr
                    td 《王牌经纪人之沟通八诀》
                    td 经纪人
                    td 通用管理
                  tr
                    td 《新人特训营》
                    td 经纪人
                    td 通用管理
        dl.am-accordion-item
          dt.am-accordion-title 战略类
          dd.am-accordion-bd.am-collapse
            .am-accordion-content.am-scrollable-horizontal
              table.am-table.am-table-bordered.am-table-striped.am-table-hover.am-table-compact.am-text-nowrap
                thead.am-text-center
                  tr.am-success.cnea-lesson
                    th 课程名称
                    th 授课对象
                    th 类别
                tbody
                  tr
                    td 《经纪机构一、二手联动》
                    td 总经理 || 高层管理者
                    td 战略类
                  tr
                    td 《产品创新创造蓝海》
                    td 总经理 || 高层管理者
                    td 战略类
                  tr
                    td 《全天候营销模式》
                    td 总经理 || 高层管理者
                    td 战略类
                  tr
                    td 《房产中介之品牌营销的建立》
                    td 总经理 || 高层管理者
                    td 战略类
                  tr
                    td 《如何打造区域市场第一品牌》
                    td 总经理 || 高层管理者
                    td 战略类
                  tr
                    td 《房地产经纪未来发展的趋势》
                    td 总经理 || 高层管理者
                    td 战略类
                  tr
                    td 《市场与政策危机应对策略》
                    td 总经理 || 高层管理者
                    td 战略类
        dl.am-accordion-item
          dt.am-accordion-title 人力资源
          dd.am-accordion-bd.am-collapse
            .am-accordion-content.am-scrollable-horizontal
              table.am-table.am-table-bordered.am-table-striped.am-table-hover.am-table-compact.am-text-nowrap
                thead.am-text-center
                  tr.am-success.cnea-lesson
                    th 课程名称
                    th 授课对象
                    th 类别
                tbody
                  tr
                    td 《薪酬与成长》
                    td 人力总监 || 高层管理者
                    td 人力资源
                  tr
                    td 《地产经纪人力资源管理》
                    td 人力总监 || 高层管理者
                    td 人力资源
                  tr
                    td 《中介企业培训架构搭建》
                    td 人力总监 || 高层管理者
                    td 人力资源
                  tr
                    td 《TTT培训》
                    td 人力总监 || 高层管理者
                    td 人力资源
                  tr
                    td 《人力资源管理》
                    td 人力总监 || 高层管理者
                    td 人力资源
        dl.am-accordion-item
          dt.am-accordion-title 销售类
          dd.am-accordion-bd.am-collapse
            .am-accordion-content.am-scrollable-horizontal
              table.am-table.am-table-bordered.am-table-striped.am-table-hover.am-table-compact.am-text-nowrap
                thead.am-text-center
                  tr.am-success.cnea-lesson
                    th 课程名称
                    th 授课对象
                    th 类别
                tbody
                  tr
                    td 《房地产营销策略》
                    td 总经理 || 高层管理者
                    td 销售类
                  tr
                    td 《成交四大法则》
                    td 经纪人
                    td 销售类
                  tr
                    td 《客户精耕管理》
                    td 经纪人
                    td 销售类
                  tr
                    td 《电话销售技巧》
                    td 经纪人
                    td 销售类
                  tr
                    td 《房源与客源开发》
                    td 经纪人
                    td 销售类
                  tr
                    td 《成功委托代理》
                    td 经纪人
                    td 销售类
                  tr
                    td 《商圈调查》
                    td 经纪人
                    td 销售类
                  tr
                    td 《成功带看》
                    td 经纪人
                    td 销售类
                  tr
                    td 《金牌经纪人销售心法》
                    td 经纪人
                    td 销售类
                  tr
                    td 《客户带来的百万利润》
                    td 经纪人
                    td 销售类
                  tr
                    td 《高级房产经纪人销售心法》
                    td 经纪人
                    td 销售类
                  tr
                    td 《售后无忧》
                    td 经纪人
                    td 销售类
                  tr
                    td 《房地产销售技巧》
                    td 经纪人
                    td 销售类
                  tr
                    td 《电话销售技巧》
                    td 经纪人
                    td 销售类
                  tr
                    td 《服务技巧》
                    td 经纪人
                    td 销售类
                  tr
                    td 《回报协议》
                    td 经纪人
                    td 销售类
                  tr
                    td 《王牌经纪人之成交九段》
                    td 经纪人
                    td 销售类
                  tr
                    td 《房地产中介信息化时代的网络营销》
                    td 经纪人
                    td 销售类
                  tr
                    td 《房产经纪信息化管理与经营》
                    td 经纪人
                    td 销售类
                  tr
                    td 《市场扩展》
                    td 经纪人
                    td 销售类
        dl.am-accordion-item
          dt.am-accordion-title 运营类
          dd.am-accordion-bd.am-collapse
            .am-accordion-content.am-scrollable-horizontal
              table.am-table.am-table-bordered.am-table-striped.am-table-hover.am-table-compact.am-text-nowrap
                thead.am-text-center
                  tr.am-success.cnea-lesson
                    th 课程名称
                    th 授课对象
                    th 类别
                tbody
                  tr
                    td 《地产经纪的核心成本及风险控制》
                    td 总经理 || 高层管理者
                    td 运营类
                  tr
                    td 《门店业绩链的重要性》
                    td 总经理 || 高层管理者
                    td 销售类
                  tr
                    td 《连锁店管理及发展的重点》
                    td 总经理 || 高层管理者
                    td 运营类
                  tr
                    td 《房地产中介企业的“连”与“锁”》
                    td 总经理 || 高层管理者
                    td 运营类
                  tr
                    td 《房地产中介直营连锁的管理系统构建》
                    td 总经理 || 高层管理者
                    td 销售类
                  tr
                    td 《房地产特许商业模式运营》
                    td 总经理 || 高层管理者
                    td 运营类
                  tr
                    td 《商圈统治》
                    td 总经理 || 高层管理者
                    td 运营类
                  tr
                    td 《商业地产选址》
                    td 总经理 || 高层管理者
                    td 销售类
                  tr
                    td 《数字化管理》
                    td 总经理 || 高层管理者
                    td 运营类
                  tr
                    td 《新店运营成功密码》
                    td 总经理 || 高层管理者
                    td 运营类
                  tr
                    td 《房地产中介运营管理》
                    td 总经理 || 高层管理者
                    td 运营类
                  tr
                    td 《门店经营制胜法宝》
                    td 中层管理者
                    td 运营类
                  tr
                    td 《门店的核心竞争力》
                    td 中层管理者
                    td 运营类
                  tr
                    td 《金牌店长之财务管理》
                    td 中层管理者
                    td 运营类
                  tr
                    td 《金牌店长之门店例会》
                    td 中层管理者
                    td 运营类
                  tr
                    td 《金牌店长之房源开发》
                    td 中层管理者
                    td 运营类
                  tr
                    td 《解开金牌店长的成功密码》
                    td 中层管理者
                    td 运营类
                  tr
                    td 《地产经纪一日常规》
                    td 经纪人
                    td 运营类
    .am-u-lg-2
