//
   Created by SH on 2015/5/8.
extends layout
block content
  div.get
    div.am-g
      div.am-u-lg-12.am-u-sm-12.am-u-md-12
        h1(data-am-scrollspy="{animation:'slide-top'}").get-title 中 国 房 产 联 盟 商 学 院 简 介
        div.am-g
          div.am-u-lg-2.am-u-sm-12.am-u-md-2
          div.am-u-lg-8.am-u-sm-12.am-u-md-8.am-u-lg-centered.am-u-md-centered
            p(data-am-scrollspy="{animation:'slide-left', delay: 1000}") 中国房产联盟商学院是中国房产联盟五大板块之一，是专为房产经纪企业提供人才培训及管理咨询服务的专业教育培训机构，商学院整合国内房产经纪行业最权威的师资力量，提供一系列的培训管理解决方案，帮助房产中介机构健康稳定、持续发展。
            br
            p(data-am-scrollspy="{animation:'slide-right', delay: 2000}") 商学院突破传统培训机构以课程学习为主的服务方式，独创定制式培训、研讨式学习、体验式参访的互动学习形式，结合房产经纪机构普遍遇到的问题提供定向的解决方案，以最实效落地的方式支持企业发展，让房产经纪结构以最低的成本收获到最有价值的服务。
          div.am-u-lg-2.am-u-sm-12.am-u-md-2
  div(style={'background-color':'#f8f8f8'})
    div.am-container
      h2.detail-h2 教 育 培 训
      div(data-am-scrollspy="{animation:'slide-left'}",style={'margin-bottom':'50px'}).am-g
        div.am-u-lg-12.am-u-md-12.am-u-sm-12
          div.detail-panel
            div.am-vertical-align
              div.am-vertical-align-middle.am-text-center 培训是企业提升最有效的方式，但在国内教育培训界专做房产经纪培训的机构却少之又少，一般通用管理类的课程又很难解决专业方面的问题，因此中房联商学院就是专为房产经纪机构提供教育培训服务。商学院结合企业遇到的实际问题，集结全国行业内的权威专家、培训导师，开发出一系列最有实效性的培训课程，帮助企业良性运营健康发展。
  div(style={'background-color':'#2ECC71',color:'white'}).am-container
    h2.detail-h2 管 理 咨 询
    div(data-am-scrollspy="{animation:'slide-right'}",style={'margin-bottom':'50px'}).am-g
      div.am-u-lg-12.am-u-md-12.am-u-sm-12
        div.detail-panel
          div.am-vertical-align
            div.am-vertical-align-middle.am-text-center 每个企业在发展过程中都会遇到各种各样的问题，不管是大企业还是小门店总有制约其发展最重要的一环，如果此重要环节得以解决，将会对其发展起到较大的推动作用。中房联商学院联合业内资深人及管理咨询专家，提供最有效的解决方案及工具，帮助房产经纪机构突破瓶颈快速稳定发展。
  div(style={'background-color': '#f8f8f8'})
    div.am-container
      h2.detail-h2 品 牌 形 象
      div(data-am-scrollspy="{animation:'slide-left'}",style={'margin-bottom':'50px'}).am-g
        div.am-u-lg-12.am-u-md-12.am-u-sm-12
          div.detail-panel
              div.am-vertical-align
                div.am-vertical-align-middle.am-text-center 作为企业运营除优秀的销售团队和系统的管理外，如果想在区域市场有一定知名度和影响力，营销宣传和品牌形象的打造是必不可少的，但很多时候却苦于找不到方向和方法，中房联商学院将帮你从店面形象、企业文化、宣传方式、营销活动等提供一系列营销策划方案，让您从无到有打造区域品牌影响力。
  div(style={'background-color':'#3498DB',color:'white'}).am-container
    h2.detail-h2 参 访 学 习
    div(data-am-scrollspy="{animation: 'slide-right'}",style={'margin-bottom':'50px'}).am-g
      div.am-u-lg-12.am-u-md-12.am-u-sm-12
        div.detail-panel
          div.am-vertical-align
            div.am-vertical-align-middle.am-text-center 商学院会定期组织各种交流活动，到区域市场第一品牌参观学习，邀请当地标杆企业分享成功经验，彼此借鉴相互讨论取长补短，以最直接的方式吸取经验获取成功密码，助力自身企业快速发展。
  div(style={'background-color':'#f8f8f8'}).detail
    div.am-g.footer-margin.am-container
      div.am-u-lg-12
        h2.detail-h2 中 国 房 产 联 盟 商 学 院
        div.am-g
          div.am-u-lg-2.am-u-md-6.am-u-sm-12.detail-mb
            h3.detail-h3 愿景
            p.detail-p 成为最具商业价值的房产经纪教育机构
          div.am-u-lg-2.am-u-md-6.am-u-sm-12.detail-mb
            h3.detail-h3 使命
            p.detail-p 使房产经纪行业健康发展
          div.am-u-lg-2.am-u-md-6.am-u-sm-12.detail-mb
            h3.detail-h3 价值观
            p.detail-p 专业 专注 客户价值
          div.am-u-lg-2.am-u-md-6.am-u-sm-12.detail-mb
            h3.detail-h3 核心主张
            p.detail-p 一站式房产经纪教育平台 让房产经纪生意变的简单
          div.am-u-lg-4.am-u-md-12.am-u-sm-12.detail-mb
            h3.detail-h3 办学目的
            p.detail-p 为成长型房产经纪机构提供教育培训、管理咨询及托管服务等，帮助其规范系统化运营，促进行业健康发展。
  div.hope
    div.am-g.am-container
      div.am-u-lg-4.am-u-md-6.am-u-sm-12.hope-img
        img(data-am-scrollspy="{animation:'slide-left'}",src='/images/landing.png')
        hr.am-article-divider.am-show-sm-only.hope-hr
      div.am-u-lg-8.am-u-md-6.am-u-sm-12
        h2.hope-title 同我们一起打造
        p 在互联网爆炸的年代，我们不愿成为时代的过客，拥抱互联网，发挥平台的力量
  div.about
    div.am-g.am-container
      div.am-u-lg-12
        h2.about-title.about-color 中国房产联盟商学院欢迎大家来提意见与反馈，让大家共同进步
        div.am-g
          div.am-u-lg-3.am-u-md-6.am-u-sm-12
          div.am-u-lg-6.am-u-md-6.am-u-sm-12.am-u-lg-centered.am-u-md-centered
            form(action='/advice/add',method='post',data-am-validator).am-form
              div.am-form-group
                label(for='name').about-color 你的姓名
                input(type='text' name='name',minlength='2',placeholder='输入你的姓名(至少两个字)',required)#name
              br
              div.am-form-group
                label(for='email').about-color 你的邮箱
                input(type='email' name='email',placeholder='你的邮箱',data-validation-message='输入地球上的电子邮箱撒',required)#email
              br
              div.am-form-group
                label(for='message').about-color 你的留言
                textarea(name='contents',minlength='10')#message
              br
              button(type='submit')#submitbtn.am-btn.am-btn-primary.am-btn-sm
                i.am-icon-check 提 交
            hr.am-article-divider.am-show-sm-only
          div.am-u-lg-3.am-u-md-12.am-u-sm-12
  div(tabindex='-1')#resultmodel.am-modal.am-modal-alert
    div.am-modal-dialog
      div.am-modal-hd 感谢建议反馈
      div.am-modal-bd !!result
      div.am-modal-footer
        span.am-modal-btn 确定
